<h1>公式カクテル一覧</h1>
<%= render 'shared/search', q: @q %>

<% @recipes.each do |recipe| %>  <!-- ここで @recipes をループします -->
  <div class="col-md-4">
    <%= link_to recipe_path(recipe), class: "card" do %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.name %></h5>
          <p class="card-text">
            <strong>難易度:</strong> <%= recipe.difficulty.name %><br>
            <strong>ベース:</strong> <%= recipe.base_liquor.name %><br>
            <strong>副材料:</strong>
            <% recipe.ingredients.each do |ingredient| %>
              <%= ingredient.name %><%= ", " unless ingredient == recipe.ingredients.last %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>  <!-- ループの終わり -->