<%= search_form_for @q, url: recipes_path, method: :get, class: "search-form" do |f| %>
  <div>
    <%= f.label :base_liquor_id_eq, "ベースのお酒" %>
    <%= f.select :base_liquor_id_eq, options_from_collection_for_select(BaseLiquor.all, :id, :name), { prompt: "選択してください" }, class: "form-select" %>
  </div>
  <div>
    <%= f.label :difficulty_id_eq, "難易度" %>
    <%= f.select :difficulty_id_eq, options_from_collection_for_select(Difficulty.all, :id, :name), { prompt: "選択してください" }, class: "form-select" %>
  </div>
  <div>
    <%= f.submit "検索", class: "btn btn-primary" %>
  </div>
<% end %>